@import "variables";
//.frontend-wrap {
//  .content {
//    margin: 50px auto;
//    float: none;
//  }
//}
//.footer {
//  width: 100%;
//  height: 100px;
//  //position: absolute;
//  bottom: 0px;
//}
