$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$gray-100: #f8f9fa !default;
$gray-600: #868e96 !default;
$gray-800: #343a40 !default;

$color-primary: #000000 !default;
$color-secondary: #e7e7e7 !default;
$color-success: $green !default;
$color-info: $cyan !default;
$color-warning: $yellow !default;
$color-danger: $red !default;
$color-danger: $red !default;
$color-light: $gray-100 !default;
$color-dark: $gray-800 !default;


$theme-colors: (
        primary: $color-primary,
        secondary: $color-secondary,
        success: $color-success,
        info: $color-info,
        warning: $color-warning,
        danger: $color-danger,
        light: $color-light,
        dark: $color-dark
) !default;



$body-background-color: #e7e7e7 !default;
$page-content-background-color: #fafafa !default;
$header-margin-top: 0px !default;
$header-margin-bottom: 20px !default;

$footer-margin-top: 20px !default;
$footer-margin-bottom: 0px !default;


$page-header-size: 40px !default;
$page-content-padding-top: 20px !default;
$page-content-padding-bottom: 20px !default;
$brand-primary: $color-primary !default;

$hotline-font-size: 22px !default;
$hotline-padding: 15px !default;

$form-default-paddings: 8px !default;

// grid breakpoints
$grid-breakpoint-sm: 576px !default;
$grid-breakpoint-md: 768px !default;
$grid-breakpoint-lg: 992px !default;
$grid-breakpoint-xl: 1200px !default;

$grid-breakpoints: (
        xs: 0,
        sm: $grid-breakpoint-sm,
        md: $grid-breakpoint-md,
        lg: $grid-breakpoint-lg,
        xl: $grid-breakpoint-xl
);

// maximum width of the container
$container-max-width-sm: 540px !default;
$container-max-width-md: 720px !default;
$container-max-width-lg: 960px !default;
$container-max-width-xl: 1140px !default;

$container-max-widths: (
        sm: $container-max-width-sm,
        md: $container-max-width-md,
        lg: $container-max-width-lg,
        xl: $container-max-width-xl
);